::-webkit-scrollbar
  width: 5px
  &-thumb
    background: transparentize($main-color-lightened, 0.5)
  &-corner, &-resizer
    background: $main-color-darkened

::-moz-scrollbar
  width: 5px
  &-thumb
    background: transparentize($main-color-lightened, 0.5)
  &-corner, &-resizer
    background: $main-color-darkened

::-o-scrollbar
  width: 5px
  &-thumb
    background: transparentize($main-color-lightened, 0.5)
  &-corner, &-resizer
    background: $main-color-darkened
