
body .tabs-cont {
  width: 100%;
  background: rgba(57, 57, 57, 0.5); }
  body .tabs-cont .tab-content textarea {
    width: 96vw;
    margin-left: 3px;
    height: 85vh;
    background: transparent; }
  body .tabs-cont .tab-display {
    height: 25px;
    overflow: hidden;
    width: 100%;
    background: #393939; }
    body .tabs-cont .tab-display .tabs-tab {
      user-select: none;
      padding: 5px 10px;
      background: #464646;
      display: inline-block;
      transition: all 0.2s ease;
      overflow: hidden;
      margin-right: 5px; }
      body .tabs-cont .tab-display .tabs-tab:hover {
        background: #5f5f5f;
        padding: 5px 15px; }
      body .tabs-cont .tab-display .tabs-tab .tabs-tab-title {
        font-weight: bold;
        margin-right: 5px; }
      body .tabs-cont .tab-display .tabs-tab .cls-btn {
        font-size: 15px;
        background: transparent;
        transition: all 0.2s ease;
        padding: 0 5px; }
        body .tabs-cont .tab-display .tabs-tab .cls-btn:hover {
          background: red; }
