$main-color: rgb(80,67,120)
$tran: all 0.2s ease

*
  padding: 0
  margin: 0
  outline: none
  border: none
  text-decoration: none
  -webkit-appearance: none
  font-family: Arial


body

  .wrapper.main
    background: darken($main-color, 25%)
    width: 100vw
    height: 100vh

    .btn
      transition: $tran
      padding: 10px 15px
      color: white
      background: $main-color
      margin:
        left: 5px
        right: 5px
      &:hover
        padding: 10px 20px
        background: lighten($main-color, 20%)
        color: white
    .input
      background: darken($main-color, 20%)
      text-align: center
      color: white
      padding: 5px 0

    [class^='selection']
      width: 100vw
      padding: 10px 0
      margin: 5px 0
      background: $main-color
      text-align: center
      color: white

    .element-selector
      top: 0
      width: 100vw
      background: lighten($main-color, 30%)
      padding-bottom: 2px
      &-input
        width: 50vw
      .side-message
        color: white

.top-right
  right: 0
  top: 0

.top-left
  left: 0
  top: 0

.bottom-right
  right: 0
  bottom: 0

.bottom-left
  left: 0
  bottom: 0

.selected
  border: dashed 3px red
