*
  padding: 0
  margin: 0
  outline: none
  border: none
  -webkit-appearance: none
  -moz-appearance: none
  -o-appearance: none
  text-decoration: none

.button
  background-color: rgb(83, 58, 170)
  display: inline-block
  color: white
  cursor: pointer
  transition: all 0.5s ease
  &:hover, &:focus
    background-color: rgb(121, 91, 223)
    text-shadow: 10px 15px 5px rgba(127, 96, 232, 0.41)

.button-header
  padding: 5px 10px
  &:hover, &:focus
    padding: 10px 15px

.button-body
  padding: 15px 20px
  &:hover, &:focus
    padding: 15px 25px
