.button, .contextmenu .contextmenu-command, .header .header-button, .dropdown-button {
  background-color: #62ec87;
  color: white;
  display: inline-block;
  margin: 3px;
  cursor: pointer;
  transition: all ease 0.5s; }
  .button:hover, .contextmenu .contextmenu-command:hover, .header .header-button:hover, .dropdown-button:hover, .button:focus, .contextmenu .contextmenu-command:focus, .header .header-button:focus, .dropdown-button:focus {
    background-color: #13a239; }

::-webkit-scrollbar {
  width: 0.7rem; }

::-webkit-scrollbar-thumb {
  background-color: #62ec87; }

::-webkit-scrollbar-track {
  background-color: #13a239; }

::-moz-scrollbar {
  width: 0.7rem; }

::-moz-scrollbar-thumb {
  background-color: #62ec87; }

::-moz-scrollbar-track {
  background-color: #13a239; }

::-o-scrollbar {
  width: 0.7rem; }

::-o-scrollbar-thumb {
  background-color: #62ec87; }

::-o-scrollbar-track {
  background-color: #13a239; }

@keyframes flowdown {
  0% {
    height: 0;
    opacity: 0; }
  100% {
    height: 260px;
    opacity: 1; } }
@keyframes flowup {
  0% {
    height: 260px;
    opacity: 1; }
  100% {
    height: 0;
    opacity: 0; } }
@keyframes movedown {
  0% {
    opacity: 0;
    padding-top: -10px; }
  100% {
    opacity: 1;
    padding-top: 0; } }
@keyframes moveup {
  0% {
    opacity: 1;
    padding-top: -10px; }
  100% {
    opacity: 0;
    padding-top: 0; } }
@keyframes titledrop {
  0% {
    transform: translateX(250px) translateY(-100px);
    opacity: 0; }
  100% {
    transform: translateX(250px) translateY(5px);
    opacity: 1; } }
@keyframes titlechomp {
  0% {
    transform: translateX(250px) translateY(5px);
    opacity: 1; }
  100% {
    transform: translateX(250px) translateY(-100px);
    opacity: 0; } }
@keyframes desdrop {
  0% {
    transform: translateX(200px) translateY(190px);
    opacity: 0; }
  100% {
    transform: translateX(200px) translateY(15px);
    opacity: 1; } }
@keyframes deschomp {
  0% {
    transform: translateX(200px) translateY(15px);
    opacity: 1; }
  100% {
    transform: translateX(200px) translateY(190px);
    opacity: 0; } }
* {
  text-decoration: none;
  font-family: Arial;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0; }

body {
  background-color: #95d2cb; }

img {
  width: 50%;
  height: 50%;
  max-height: 60%;
  max-width: 60%; }

#loader {
  bottom: 0;
  right: 0;
  position: fixed;
  padding: 20px;
  color: white;
  font-weight: bolder;
  background-color: rgba(55, 31, 112, 0.31);
  transition: all 0.5s ease; }
  #loader:hover, #loader:focus {
    padding: 25px; }

.image-view {
  width: 95%;
  margin: auto;
  background: transparent;
  transition: all 0.9s ease; }
  .image-view .image-view-title {
    display: none;
    color: white;
    font-weight: bolder;
    text-shadow: 0 0 2px black;
    position: fixed;
    font-size: 25px; }
  .image-view .image-view-message {
    display: none;
    color: white;
    font-weight: bolder;
    text-shadow: 0 0 2px black;
    position: fixed;
    font-size: 25px; }
  .image-view:hover {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px -55px 0px 20px rgba(67, 55, 184, 0.5); }
    .image-view:hover .image-view-title {
      display: block;
      animation-name: titledrop;
      animation-duration: 0.9s;
      animation-fill-mode: forwards;
      animation-timing-function: ease; }
    .image-view:hover .image-view-message {
      display: block;
      animation-name: desdrop;
      animation-duration: 0.9s;
      animation-fill-mode: forwards;
      animation-timing-function: ease; }
  .image-view:not(:hover) .image-view-message {
    display: block;
    animation-name: deschomp;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  .image-view:not(:hover) .image-view-title {
    display: block;
    animation-name: titlechomp;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    background-color: none;
    box-shadow: none; }

.link {
  padding: 5px 5px; }
  .link img {
    opacity: 0.5;
    transition: all 0.5s ease;
    width: 36px; }
    .link img:hover, .link img:focus {
      opacity: 1; }

.Ril {
  float: right; }

.Lil {
  float: left; }

.contextmenu {
  position: fixed;
  background-color: #063011;
  z-index: 9999;
  color: #3fe48e;
  max-height: 22em;
  max-width: 10em; }
  .contextmenu .contextmenu-command {
    padding: 10px 15px; }
    .contextmenu .contextmenu-command:hover, .contextmenu .contextmenu-command:focus {
      padding: 13px 18px; }

.header {
  top: 0;
  z-index: 9998;
  position: fixed;
  color: #62ec87;
  width: 100%;
  background-color: #13a239; }
  .header .title {
    font-size: 1.9rem;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .header .header-button {
    padding: 5px 10px; }
    .header .header-button:hover, .header .header-button:focus {
      padding: 10px 15px; }

.dropdown {
  position: relative;
  display: inline-block;
  color: white;
  -webkit-transition: all, 0.5s, ease;
  -moz-transition: all, 0.5s, ease;
  -ms-transition: all, 0.5s, ease;
  -o-transition: all, 0.5s, ease;
  transition: all, 0.5s, ease; }
  .dropdown:hover .dropdown-content {
    display: block;
    animation-name: flowdown;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  .dropdown:not(:hover) .dropdown-content {
    display: block;
    animation-name: flowup;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease; }
  .dropdown .dropdown-content {
    display: none;
    top: 0;
    left: 0;
    position: aboslute;
    max-width: 120px;
    max-height: 260px;
    overflow: auto;
    background-color: #13a239;
    z-index: 2; }
    .dropdown .dropdown-content .dropdown-content-divider {
      border: solid 3px rgba(0, 0, 0, 0.5);
      margin-top: 5px;
      margin-bottom: 5px; }
    .dropdown .dropdown-content .dropdown-content-link {
      text-overflow: clip;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      color: white;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 3px 9px;
      display: block;
      -webkit-transition: all, 0.5s, ease;
      -moz-transition: all, 0.5s, ease;
      -ms-transition: all, 0.5s, ease;
      -o-transition: all, 0.5s, ease;
      transition: all, 0.5s, ease; }
      .dropdown .dropdown-content .dropdown-content-link:hover {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 6px 9px; }
        .dropdown .dropdown-content .dropdown-content-link:hover .dropdown-content-link-location {
          animation-name: movedown;
          animation-duration: 0.2s;
          animation-fill-mode: forwards;
          animation-timing-function: ease; }
      .dropdown .dropdown-content .dropdown-content-link:not(:hover) {
        background-color: rgba(0, 0, 0, 0.2);
        padding: 3px 9px; }
        .dropdown .dropdown-content .dropdown-content-link:not(:hover) .dropdown-content-link-location {
          animation-name: moveup;
          animation-duration: 0.2s;
          animation-fill-mode: forwards;
          animation-timing-function: ease; }
      .dropdown .dropdown-content .dropdown-content-link .dropdown-content-link-location {
        text-overflow: clip;
        white-space: nowrap;
        overflow: hidden;
        opacity: 0;
        font-weight: bolder;
        font-size: 10px; }

/*# sourceMappingURL=style.css.map */
