$main-color: rgb(100,84,199)
$main-color-lightened: lighten($main-color, 25%)
$main-color-darkened: darken($main-color, 25%)
$tran: all 0.2s ease

*
  padding: 0
  margin: 0
  outline: none
  border: none
  text-decoration: none
  -webkit-appearance: none
  -moz-appearance: none
  -o-appearance: none
  appearance: none
  border-radius: 0


@import sass/scrollbar

body
  font-family: Arial
  background: $main-color-darkened
  .header
    width: 100vw
    color: white
    padding: 5px
    background: $main-color
    .btn, a
      float: right
      display: inline-block
      transition: $tran
      padding: 1vh 1vw
      color: white
      background: $main-color
      margin:
        left: 5px
        right: 5px
      &:hover
        padding: 1vh 3vw
        background: $main-color-lightened
        color: white
    .header-title
      font:
        size: 2vmax
        weight: bold

  .wrapper
    font-family: Arial
    font-size: 2vmin
    color: white
    overflow: auto
    padding-top: 7vh
    height: 90vh
    .btn, a
      display: inline-block
      transition: $tran
      padding: 2vh 2vw
      color: white
      background: $main-color
      margin:
        left: 5px
        right: 5px
      &:hover
        padding: 2vh 4vw
        background: $main-color-lightened
        color: white
    .input
      background: $main-color-darkened
      text-align: center
      color: white
      padding: 5px 0
    .element-selector
      width: 100%
      background: $main-color
      color: white
      padding: 15px 0
      .element-input
        width: 50%
      .element-selector.btn
        width: 50%

    .selector
      padding: 10px
      color: white
      width: 50vw
      background: $main-color
      margin: auto
      margin-top: 10px

      *
        display: block
        margin-top: 5px
        margin-bottom: 5px

.top
  top: 0

.bottom
  bottom: 0

.left
  left: 0

.right
  right: 0

.top-right
  right: 0
  top: 0

.top-left
  left: 0
  top: 0

.bottom-right
  right: 0
  bottom: 0

.bottom-left
  left: 0
  bottom: 0

.selected
  border: dashed 3px red

@import sass/pen-syntax
