*
  text-decoration: none
  font-family: Arial
  outline: none
  border: none
  -webkit-appearance: none
  -moz-appearance: none
  -o-appearance: none
  padding: 0
  margin: 0

.Ril
  float: right

.Lil
  float: left

.button
  background-color: rgb(59, 166, 37)
  color: white
  display: inline-block
  cursor: pointer
  transition: all ease 0.5s
  &:hover, &:focus
    background-color: rgb(127, 240, 128)

.header
  top: 0
  z-index: 9998
  position: fixed
  color: rgb(63, 228, 142)
  width: 100%
  background-color: rgb(62, 168, 113)
  .title
    padding-left: 5px
    padding-top: 10px
    padding-bottom: 10px
    font-size: 26px

  .button-header
    padding: 5px 10px
    &:hover, &:focus
      padding: 5px 15px
